
//- Mixin for creating a pagination button
mixin paginationLink(page, currentPage, path, queryParams, useOtherLabel)
    if !queryParams.sort
        - queryParams.sort = 'startedOn'
    if !queryParams.size
        - queryParams.size = '6'
    li(class="#{(page == currentPage ? 'active' : '')}")
        a(href="#{path}?page=#{page - 1}&size=" + queryParams.size + "&sort=" + queryParams.sort, data-action="pagination")
            if useOtherLabel
                block
            else
                | #{page}

//- Pagination
mixin pagination(currentPage, totalPages, path, queryParams)
    ul.pagination
        if currentPage + 1 != 1
            +paginationLink(currentPage + 1 - 1, currentPage + 1, path, queryParams, true)
                span.mdi.mdi-arrow-left

        //- Page one, always visible
        +paginationLink(1, currentPage + 1, path, queryParams)

        //- Ellipsis, visible when page 2 isn't
        if currentPage + 1 > 4
            li
                a(href="") &nbsp;&hellip;&nbsp;

        //- Edge cases for showing extra buttons when at beginning
        if currentPage + 1 > totalPages - 2 &&  totalPages - 4 > 1
            +paginationLink(totalPages - 4, currentPage + 1, path, queryParams)

        if currentPage + 1 > totalPages - 1 &&  totalPages - 3 > 1
            +paginationLink(totalPages - 3, currentPage + 1, path, queryParams)


        //- Two pages before current page
        if currentPage + 1 > 3
            +paginationLink(currentPage + 1 - 2, currentPage + 1, path, queryParams)
        if currentPage + 1 > 2
            +paginationLink(currentPage + 1 - 1, currentPage + 1, path, queryParams)

        //- Current page
        if currentPage + 1 != 1 && currentPage + 1 != totalPages
            +paginationLink(currentPage + 1, currentPage + 1, path, queryParams)

        //- Two pages after current page
        if currentPage + 1 + 1 < totalPages
            +paginationLink(currentPage + 1 + 1, currentPage + 1, path, queryParams)
        if currentPage + 1 + 2 < totalPages
            +paginationLink(currentPage + 1 + 2, currentPage + 1, path, queryParams)


        //- Edge cases for showing extra buttons when at end
        if currentPage + 1 < 3 && totalPages > currentPage + 1 + 3
            +paginationLink(currentPage + 1 + 3, currentPage + 1, path, queryParams)
        if currentPage + 1 < 2 && totalPages > currentPage + 1 + 4
            +paginationLink(currentPage + 1 + 4, currentPage + 1, path, queryParams)

        //- Ellipsis, visible when (totalPages - 1) isn't
        if currentPage + 1 + 3 < totalPages
            li
                a(href="#") &nbsp;&hellip;&nbsp;

        //- Final page, always visible if more than 1 page
        if totalPages != 1
            +paginationLink(totalPages, currentPage + 1, path, queryParams)

        if currentPage + 1 != totalPages
            +paginationLink(currentPage + 1 + 1, currentPage + 1, path, queryParams, true)
                span.mdi.mdi-arrow-right