block variables
    - title = pageTitle
    - currentPage = currentPage || 0
extends layout
include mixins/campaign.jade
include mixins/sitenav.jade
include mixins/section-title.jade
include mixins/categories.jade
include mixins/pagination.jade

block content
    +upperNav(path)
    header.site--header
        article.site--header-content
            .site--header-content--background
            h1 Kids for Playgrounds
            h4
                | 83,4% -
                span.normal 10.436 / 12.500 GBP
            h4 by Andrei Hodorog
    +categoriesNav(path)

    if campaigns
        section.site-section(style="border-top: 0")
            .container.text-center
                #custom-search-input
                    .input-group.col-md-12
                        input.search-query.form-control(type='text', placeholder='Search', data-type="search-campaigns")
                        span.input-group-btn
                            button.btn.btn-danger(type='button', data-button="search-button")
                                span.mdi.mdi-magnify
                        .outputbox(class=campaigns[0].category)

        section.site-section
            +sectionTitle(campaigns[0].category, path, searchQuery, queryParams)
        section
            .container.text-center
                .site--itemlist
                    each campaign in campaigns
                        +campaign(campaign)

                +pagination(currentPage, totalPages, path, queryParams)