extends layout
include mixins/campaign.jade

block content
    header.site--header
        include partials/sitenav
        article.site--header-content
            .site--header-content--background
            h1 Kids for Playgrounds
            h4
                | 83,4% -
                span.normal 10.436 / 12.500 GBP
            h4 by Andrei Hodorog
    include partials/categories
    section.site-section
        h1.site-section--title.ARTS Projects people loved
        .site--itemlist
            if campaigns
                each campaign in campaigns
                    +campaign(campaign)
