block variables
    - title = pageTitle
    - currentPage = currentPage || 0
extends layout
include mixins/sitenav.jade

block content
    header.site--header
        +upperNav(path)
        article.site--header-content
            .site--header-content--background
            h1 Kids for Playgrounds
            h4
                | 83,4% -
                span.normal 10.436 / 12.500 GBP
            h4 by Andrei Hodorog
    .container.text-center
        - console.log(campaign)
        - console.log(usersDonated)

