block variables
    - title = pageTitle
extends layout
include mixins/sitenav.jade
include mixins/categories.jade
include mixins/campaign.jade

block content
    +upperNav()
    header.site--header
        article.site--header-content
            .site--header-content--background
            h1 Kids for Playgrounds
            h4
                | 83,4% -
                span.normal 10.436 / 12.500 GBP
            h4 by Andrei Hodorog
    +categoriesNav()
    section.site-section
        if mostLikedCampaigns
            h1.site-section--title Projects people loved
            .site--itemlist
                each campaign in mostLikedCampaigns
                    +campaign(campaign)

    section.site-section
        if mostRecentCampaigns
            h1.site-section--title New Projects
            .site--itemlist
                each campaign in mostRecentCampaigns
                    +campaign(campaign)



    section.site-section
        h1.site-section--title Contributors
        .site--itemlist
            article.site--contributor
                header
                    img.avatar(src="/static/images/profilePics/stock1.png")
                    h1.crown
                        .mdi.mdi-crown
                    h1.firstname Alina
                    h1.lastname Helpington
                    p I am a good person, and I want to help
                footer
                    .item.blue
                        .badge
                            .mdi.mdi-rocket
                        .text 12
                    .item.green
                        .badge
                            .mdi.mdi-currency-gbp
                        .text 3.430
            article.site--contributor
                header
                    img.avatar(src="/static/images/profilePics/stock1.png")
                    h1.crown
                        .mdi.mdi-crown
                    h1.firstname Magda
                    h1.lastname Helpington
                    p I am a good person, and I want to help
                footer
                    .item.blue
                        .badge
                            .mdi.mdi-rocket
                        .text 2
                    .item.green
                        .badge
                            .mdi.mdi-currency-gbp
                        .text 3.430
