- space = ' '

doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/static/styles/main.css')
    meta(name='viewport' content='width=device-width, height=device-height, scale=1, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    block content

  div.text-center Copyright&copy; XPress Starter 2017-2018. All rights reserved to Cardiff University

  script(src='/static/js/libraries.js', type='text/javascript')
  script(src='/static/js/app-scripts.js', type='text/javascript')
