section.site-section
    h1.site-section--title What are you looking for?
    ul.site-categorylist
        a.item.SPORTS(href="/campaigns/sports-and-play") Sports &amp; Play
        a.item.PARKS(href="/campaigns/parks-and-gardens") Parks &amp; Gardens
        a.item.ARTS(href="/campaigns/arts-and-culture") Arts &amp; Culture
        a.item.BUILDINGS(href="/campaigns/buildings") Buildings
        a.item.FOOD(href="/campaigns/food") Food &amp; Farming
        a.item.INFRASTRUCTURE(href="/campaigns/infrastructure") Insfrastructure
